<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/posts">

        <br />
        <br />
        <input row="10" cols="20" placeholder="ENTER USER NAME" name ="username">
        <br />
        <br />
        <textarea row="10" cols="20" placeholder="WRITE YOUR NEW CONTENT" name="content"></textarea>
        <br/>


        <button class="ss">submit</button>
    </form>
    
</body>
</html>